name: Release NPM Package

on:
  push:
    branches: [main]
  # release:
  #   types: [published]

permissions:
  id-token: write
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.22

      - name: Install dependencies
        run: bun install

      - name: Build
        run: bun run build

      - name: Check for linting errors
        run: bun run lint

      - name: Check for formatting errors
        run: bun run format

      - name: Run tests
        run: bun run test

      - name: Release to NPM
        run: bunx npm publish --provenance --access public
